section {
    height:100vh;
    margin:0;
}
body{
    background-color:purple;
}
p, h1, img{
    border:1px solid black;
}
a{
    border:1px solid lightcoral;
    background-color: lightcoral;
    color:white;
}


