h2{font-size:3rem; font-weight: 700; margin-bottom:2rem;}
h3{font-size:2rem; color:#c49660;font-weight:400;margin-bottom:0;}
h1{font-size:4rem; font-weight: 700;margin:0;}
table{ margin:2rem;}
section {
    height:100vh;
    margin:0;
    padding:10em 0;
    font-family: 'Catamaran', sans-serif
}
ul, p {
    margin:0;
    font-size: 16px;
    }
.poz{
   color:white;
  background-image: url('poyadina.png');
}
.sect2, .sect3{ color: rgba(48,63,159,0.9); background-color: white; }
.button {
background-color: white; 
border: none;
color: black;
padding: 0.5rem 0.75rem;
text-align: center;
text-decoration: none;
display: inline-block;
}
#hero .button{
    margin-top:2.5rem;
    border-radius:0.25rem;
    border: 1px solid white
}
.logo{
    height:144px;
    width:144px;
}
td img{
    width:144px;
    height:144px;
}
