section {
    height:100vh;
    margin:0;
}
p, h1, img{
    border:1px solid black;
}
a{
    border:1px solid lightcoral;
    background-color: lightcoral;
    color:white;
}
.poz{
   background-image: linear-gradient(to bottom right, rgba(48,63,159,0.9) 0%, rgba(48,63,159,0.9) 100%), url('poyadina.jpg');
}
.sect2{
    background-color: #c49660;
}
.sect3{background-color: #c81b37; }

